@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--color---primary: #0d0d2b;
	--color---secondary: #2b076e;
	--color---accent: #3671e9;
	--neutral-white: #fff;
	--neutral-grey-6: #f2f2f2;
	--neutral---grey-5: #e0e0e0;
	--neutral-grey-4: #bdbdbd;
	--neutral---grey-3: #828282;

  --font-family: "Rubik", sans-serif;
}

body {
	background-color: #0D0D2B;
	color: var(--neutral-white);
}

.container {
	max-width: 1202px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
	width: 1200px;
}

.nav {
	display: flex;
	align-items: center;
	gap: 32px;
}

.nav__link {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral-white);
	transition: .2s ease all;
}

.nav__link:hover {
	color: var(--color---accent);
}

.nav__item--login {
	margin-left: 55px;
	padding-right: 24px;
	border-right: 1px solid rgba(242, 242, 242, 0.3);
}

.nav__link--login {
	font-weight: 500;
}

.nav__item--register {
	margin-left: 24px;
}

.nav__link--register {
	border-radius: 32px;
	padding: 14px 32px;
	width: 130px;
	height: 52px;
	background: var(--color---accent);
	font-weight: 500;
}

.nav__link--register:hover {
	color: var(--neutral-white);
	background: var(--color---secondary);
}

/* main*/
.main {
	display: flex;
	padding-top: 131px;
	padding-bottom: 101px;
}

.main__text {
	margin-right: 8px;
}

.main__text-sale {
	border-radius: 32px;
	width: 365px;
	height: 40px;
	background: rgba(255, 255, 255, 0.1);
	padding: 6px 11px 4px 4px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral-white);
	margin-bottom: 24px;
}

.main__text-sale span {
	border-radius: 32px;
	padding: 4px 16px;
	width: 113px;
	height: 32px;
	background: var(--neutral-white);
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--color---primary);
	margin-right: 10px;
}

.main__text-title {
	width: 588px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 64px;
	color: var(--neutral-white);
	margin-bottom: 24px;
}

.main__image {
	width: 604px;
	height: 585px;
	position: relative;
	top: -80px;
}

.main__text-description {
	max-width: 435px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral---grey-5);
	margin-bottom: 32px;
}

.main__text-link {
	border-radius: 32px;
	padding: 16px 24px;
	width: 154px;
	height: 59px;
	background: var(--color---accent);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: var(--neutral-white);
}

/* stat */
.stat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 116px;
	width: 1200px;
}

.stat-item {
	display: flex;
	align-items: center;
	gap: 24px;
}

.stat-item__text  {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral---grey-5);
}

.stat-item__text span {
	display: block;
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	color: var(--neutral-white);
}

.stat-item__icon {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 32px 32px;
}

.stat-item__icon--01 {
	background-image: url('../images/icon01.svg');
}

.stat-item__icon--02 {
	background-image: url('../images/icon02.svg');
}

.stat-item__icon--03 {
	background-image: url('../images/icon03.svg');
}

/* text */
.text {
	padding-top: 100px;
	text-align: center;
}

.text__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	color: var(--neutral-white);
	margin-bottom: 24px;
}

.text__description {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--neutral---grey-5);
	max-width: 622px;
	margin: 0 auto;
	margin-bottom: 64px;
}

/* Calculate */
.calc-head {
	display: flex;
	gap: 48px;
	justify-content: space-between;
	align-items: center;
	background: #fbfcfe;
	border-radius: 16px 16px 0 0;
	max-width: 942px;
	height: 155px;
	margin: 0 auto;
	padding-left: 48px;
	padding-right: 49px;
}

.calc-head__input {
	border-bottom: 1px solid var(--neutral---grey-5);
	width: 403px;
	padding-bottom: 8px;
}

.calc-head__input::placeholder {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: var(--color---primary);
}

.calc-head__select {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: var(--color---primary);
	width: 200px;
	height: 38px;
	border-bottom: 1px solid var(--neutral---grey-5);
	appearance: none;

	background-image: url('../images/arrow-select.svg');
	background-repeat: no-repeat;
	background-position: 98% 10px;
	
}

.calc-head__btn {
	background: var(--color---accent);
	border-radius: 32px;
	padding: 16px 32px;
	width: 146px;
	height: 59px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: var(--neutral-white);
}

.page-light {
	background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
	padding-bottom: 100px;
}

.calc-foot {
	background: var(--neutral-white);
	max-width: 942px;
	margin: 0 auto;
	padding-left: 48px;
	padding-right: 49px;
	border-radius:  0 0 16px 16px;
	margin-bottom: 100px;
	padding-bottom: 48px;
}

.calc-foot__title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--color---accent);
	margin-bottom: 16px;
}

.calc-foot__total {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: var(--color---primary);
}

.calc-foot__total span  {
	color: var(--color---accent);
	margin-bottom: 10px;
}

.calc-foot__description {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral---grey-3);
}

/* page-light */
.page-light__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	margin: 0 auto;
	text-align: center;
	color: var(--color---primary);
	margin-bottom: 64px;
	max-width: 741px;
	}

.crypto {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: flex-start;
		text-align: center;
		gap: 45px;
}

.crypto-item {
		box-shadow: 0 40px 40px 0 #391777;
		background: var(--neutral-white);
		border-radius: 16px;
		padding: 48px 24px;
		transition: .3s ease all;
		width: 370px;
		height: 433px;
}

.crypto-item__image {
	margin-bottom: 48px;
}

.crypto-item__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	text-align: center;
	color: var(--color---primary);
	transition: .3s ease all;
	margin-bottom: 16px;
}

.crypto-item__title sup {
	font-weight: 500;
	font-size: 18px;
	color: var(--neutral-grey-4);
	transition: .3s ease all;
}

.crypto-item__description {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	text-align: center;
	color: var(--neutral---grey-3);
	transition: .3s ease all;
	margin-bottom: 25px;
}

.crypto-item__btn {
	transition: .3s ease all;
}

.crypto-item__btn--text {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: var(--neutral-white);
	transition: .3s ease all;
	display: none;
}

.crypto-item__btn--icon {
	display: block;
	width: 64px;
	height: 64px;
	background-color: var(--neutral-white);
	border-radius: 100%;
	background-image: url('../images/arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	border: 2px solid rgba(43, 7, 110, 0.2);
	transition: .3s ease all;
	margin: 0 auto;
}

.crypto-item:hover {
	backdrop-filter: blur(250px);
	background: var(--color---secondary);
}

.crypto-item:hover .crypto-item__title {
	color: var(--neutral-white);
}

.crypto-item:hover .crypto-item__description {
	color: var(--neutral-white);
}

.crypto-item:hover .crypto-item__btn--text  {
	display: block;
}

.crypto-item:hover .crypto-item__btn {
	border-radius: 32px;
	padding: 16px 16px 16px 24px;
	width: 205px;
	height: 64px;
	background: var(--color---accent);
	display: flex;
	gap: 24px;
	margin: 0 auto;
}

.crypto-item:hover  .crypto-item__btn--icon {
	width: 32px;
	height: 32px;
	background-image: url('../images/arrow-mini.svg');
}

/* page-gradient */
.page-gradient {
	background: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%);
	padding-top: 88px;
	padding-bottom: 88px;
}

.form {
	background: var(--color---accent);
	width: 1200px;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	gap: 190px;
	padding: 48px;
	margin-bottom: 16px;
	align-items: center;
}

.form-text__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	color: var(--neutral-white);
}

.form-text__description {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral-white);
	max-width: 348px;
}

.form-letter {
	display: flex;
	gap: 40px;
	align-items: center;
}

.form-letter__input {
	border: none;
	border-bottom: 1px solid var(--neutral-white);
	width: 374px;
	height: 35px;
}

.form-letter__input::placeholder {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral-white);
}

.form-letter__btn {
	border-radius: 32px;
	padding: 14px 32px;
	width: 152px;
	height: 55px;
	background: var(--neutral-white);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: var(--color---primary);
}

/* footer */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 78px;
	width: 1200px;
}

.footer-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
	margin-left: auto;
}

.footer-text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.01em;
	color: var(--neutral-white);
}